<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo List App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Todo List App</h1>
    </header>

    <main>
      <section id="task-form">
        <h2>Add Task</h2>
        <form action="{{ url_for('index') }}" method="POST">
          <div class="main-input">
            <input
              type="text"
              id="task-input"
              placeholder="Enter task name"
              name="name"
              required
            />
            <input
              type="date"
              id="date-input"
              placeholder="Enter task date"
              name="date"
              required
            />
            <button type="submit" value="add-task" class="add-btn">ADD</button>
          </div>

          <div class="description">
            <textarea
              id="description-input"
              placeholder="Enter task description (optional)"
              name="description"
            ></textarea>
          </div>
        </form>
      </section>

      <section id="task-list">
        <h2>Task List</h2>
        <ul>
          {% for task in tasks %}
            <li>
              {{ task.name }} by {{ task.date }} - {{ task.description }}
              <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST" style="display: inline;">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" class="done-btn">DONE</button>
            </form>
            </li>
          {% endfor %}
        </ul>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; Copyright Fxx1 - 2024 Todo List App - All rights reserved.</p>
    </footer>

    <script>
      // Aggiungi qui il tuo JavaScript personalizzato
    </script>
  </body>
</html>
